
ul.role-list,
.role-selector {
	> li {
		list-style: none;
		display: inline-block;
		margin: 7px;
	}

	.role {
		width: 64px;
		height: 64px;
		background-size: 80px;
		background-position: -9px -9px;
		border-radius: 32px;
	}

	.name {
		display: block;
		text-align: center;
		margin-top: 5px;
	}
}

.role-selector {
	-webkit-tap-highlight-color: transparent;

	button {
		background: none;
		border: none;
		box-shadow: none;
		color: white;
		font-weight: normal;
		margin: 0;
		padding: 0;

		.role {
			opacity: 0.65;
		}

		.name {
			opacity: 0.45;
		}

		&.selected {
			.role {
				box-shadow: #fed840 0 0 4px 2px;
				opacity: 1;
			}

			.name {
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width: 375px) {
	ul.role-list > li,
	ul.role-selector > li {
		margin: 3px;
	}
}
