body {
	background: #26221d url(../style/bg.jpg) no-repeat;
	background-size: cover;
	color: white;
	margin: 0;
	padding: 0;
	user-select: none;
}

body,
button,
input {
	font-size: 12pt;
	font-family: Arial, 'Microsoft YaHei', Helvetica, sans-serif;
}

a {
	color: white;
	text-decoration: none;
}

button,
a.button {
	display: inline-block;
	box-sizing: border-box;
	background: #e3ad58;
	color: #130502;
	font-weight: bold;
	border-radius: 4px;
	box-shadow:#160804 2px 2px 6px 0;
	border: none;
}

input {
	&[type="text"],
	&[type="number"] {
		border: none;
		-moz-appearance: textfield;
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

ul {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	padding: 20px 0 2px 0;

	img {
		width: 50%;
	}
}

footer {
	font-size: 8pt;
	text-align: right;
	color: #c3bbb9;
	padding: 50px 20px 10px 20px;

	ul.dev-info {
		text-transform: uppercase;
		margin-bottom: 0.5em;

		> li {
			display: inline-block;
			padding: 0 1em;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}

			&:not(:last-child) {
				border-right: #c3bbb9 1px solid;
			}

			a {
				color: #c3bbb9;
			}
		}
	}

	.copyright {
		font-size: 7.5pt;

		p {
			margin: 0.3em 0;
		}
	}
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

section.container {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

#root {
	flex: 1 1 auto;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
}

.inline-message {
	text-align: center;
	line-height: 1.5em;
	height: 1.5em;
}

.box {
	margin: 0 10px;

	> h3 {
		text-align: center;
		margin: 20px 0 8px 0;
	}
}

.button-area {
	text-align: center;
	margin: 20px 15px 5px 15px;

	button,
	a.button {
		font-size: 15pt;
		padding: 0.5em 0.8em;
		min-width: 6em;
		margin: 5px 10px;
	}

	input[type="number"] {
		text-align: center;
		line-height: 2em;
		border-radius: 6px;
		margin: 10px 0;
		display: block;
		margin: 10px auto;
	}
}
