header {
	text-align: center;
	padding: 20px 0 2px 0;
}

main {
	flex: 1 1 auto;
}

footer {
	font-size: 8pt;
	text-align: right;
	color: #c3bbb9;
	padding: 50px 20px 10px 20px;
	position: relative;
}
