
ol.game-flow {
	li {
		.button-area {
			margin: 5px 15px 20px 15px;
		}
	}

	ol.log {
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 9pt;
	}

	.dying-message {
		font-size: 10pt;
		margin: 0.5em 0;
	}
}
