
body {
	background: #26221d url(bg.jpg) no-repeat;
	background-size: 100% auto;
	color: white;
	margin: 0;
	padding: 0;
	user-select: none;
}

body,
button,
input {
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif, 'Microsoft YaHei';
}

a {
	color: white;
	text-decoration: none;
}

button {
	background: #e3ad58;
	color: #130502;
	font-weight: bold;
	border-radius: 4px;
	box-shadow:#160804 2px 2px 6px 0;
}

input[type="text"],
input[type="number"],
button {
	border: 0 solid;
	-moz-appearance: textfield;
}

ul {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	padding: 20px 0 2px 0;
}

header img{
	width: 50%;
}

footer {
	font-size: 8pt;
	text-align: right;
	color: #c3bbb9;
	padding: 50px 20px 10px 20px;
}

footer ul.dev-info {
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

footer ul.dev-info > li {
	display: inline-block;
	padding: 0 1em;
}

footer ul.dev-info > li:first-child {
	padding-left: 0;
}

footer ul.dev-info > li:last-child {
	padding-right: 0;
}

footer ul.dev-info > li:not(:last-child) {
	border-right: #c3bbb9 1px solid;
}

footer ul.dev-info > li a {
	color: #c3bbb9;
}

footer .copyright {
	font-size: 7.5pt;
}

footer .copyright p{
	margin: 0.3em 0;
}

.inline-message {
	text-align: center;
	line-height: 1.5em;
	height: 1.5em;
}

.simple-form {
	font-size: 15pt;
}

.simple-form input[type="text"],
.simple-form input[type="number"],
.simple-form button {
	box-sizing: content-box;
	padding: 0 0.5em;
	height: 2.5em;
	display: block;
	width: 50%;
	margin: 40px auto;
	font-size: 15pt;
	text-align: center;
	border-radius: 4px;
	box-shadow:#160804 2px 2px 6px 0;
}

.simple-form.lobby:not(:first-child) {
	margin-top: 75px;
}

.toast{
	background: #8f2818;
	color: white;
	position: fixed;
	padding: 20px;
	box-sizing: border-box;
	width: 70vw;
	top: 50vh;
	left: 15vw;
	opacity: 0;
	transition: top 0.3s, opacity 0.3s;
}

.toast.in {
	opacity: 1;
	top: 45vh;
}

.toast.out {
	opacity: 0;
	top: 45vh;
}

.role{
	width: 200px;
	height: 284px;
	background-repeat: none;
	background-size: 100%;
}

ul.role-selector {
	-webkit-tap-highlight-color: transparent;
}

ul.role-list > li,
ul.role-selector > li{
	list-style: none;
	display: inline-block;
	margin: 7px;
}

@media screen and (max-width: 375px) {
	ul.role-list > li,
	ul.role-selector > li {
		margin: 3px;
	}
}

ul.role-selector > li .role {
	opacity: 0.65;
}

ul.role-selector > li .name {
	opacity: 0.45;
}

ul.role-selector > li.selected .role {
	box-shadow: #fed840 0 0 4px 2px;
	opacity: 1;
}

ul.role-selector > li.selected .name {
	opacity: 1;
}

ul.role-list .role,
.role-selector .role{
	width: 64px;
	height: 64px;
	background-size: 80px;
	background-position: -9px -14px;
	border-radius: 32px;
}

ul.role-list .name,
.role-selector .name {
	display: block;
	text-align: center;
	margin-top: 5px;
}

.number-selector {
	display: flex;
}

.number-selector > .icon{
	width: 64px;
	margin: 5px;
}

.number-selector > .number-input {
	margin: auto 0 auto 23px;
}

.number-input > .decrease,
.number-input > .increase {
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2.2em;
	text-align: center;
	border: 0px solid;
	padding: 0;
	background: white;
	color: black;
	font-size: 15pt;
	border-radius: 1em;
	cursor: pointer;
	font-family: 'Courier New', Courier, monospace;
}

.number-input > input {
	width: 4em;
	height: 2.5em;
	box-sizing: content-box;
	text-align: center;
	margin: 0 10px;
}

.number-input > .decrease::before {
	content: 'ー';
}

.number-input > .increase::before {
	content: '＋';
}

.box {
	margin: 0 10px;
}

.box h3 {
	text-align: center;
	margin: 20px 0 8px 0;
}

.button-area {
	text-align: center;
	margin: 20px 15px 5px 15px;
}

.button-area button {
	font-size: 15pt;
	padding: 0.5em 0.8em;
	min-width: 6em;
	margin: 5px 10px;
}

.button-area input[type="number"] {
	text-align: center;
	line-height: 2em;
	border-radius: 6px;
	margin: 10px 0;
	display: block;
	margin: 10px auto;
}

.role-area {
	text-align: center;
	position: relative;
}

.role-area > .name {
	margin-bottom: 10px;
}

.role-area > .role {
	margin: auto;
}

.role-area ul.extra-cards {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.role-area ul.extra-cards li {
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
}

.role-area ul.extra-cards li:nth-child(0) {
	top: 0;
	left: 0;
}

.role-area ul.extra-cards li:nth-child(1) {
	top: 0;
	right: 0;
}


.role-area.button-area input {
	width: 7em;
	box-sizing: content-box;
	padding: 0.5em 0.8em;
}

.role-area.button-area button {
	width: 7em;
}


.share-link-area {
	line-height: 2em;
    margin: 20px auto;
    text-align: center;
}

.share-link-area > .label {
	display: block;
}

.share-link-area > a {
	width: 85%;
	margin: 0 auto;
	height: 2em;
	border: 0 solid;
	border-radius: 0;
	color: black;
	background: white;
	display: block;
	overflow: hidden;
	padding: 0 0.5em;
}

.share-link-area > a input {
    background: none;
    width: 100%;
    height: 100%;
    line-height: 2em;
    display: block;
    border: 0 solid;
    color: black;
    padding: 0;
	margin: 0;
	user-select: none;
}
