
body {
	background: #231b19;
	color: white;
}

body,
button,
input {
	font-size: 12pt;
}

a {
	color: white;
	text-decoration: none;
}

button {
	background: #e3ad58;
	color: white;
}

input[type="text"],
input[type="number"],
button {
	border: 0 solid;
}

ul {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	padding: 20px 0 2px 0;
}

header img{
	width: 50%;
}

footer {
	font-size: 8pt;
	text-align: right;
	padding: 0 1em;
	color: #c3bbb9;
	margin: 50px 0 20px 0;
}

footer ul.dev-info {
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

footer ul.dev-info > li {
	display: inline-block;
	padding: 0 1em;
}

footer ul.dev-info > li:not(:last-child) {
	border-right: #c3bbb9 1px solid;
}

footer ul.dev-info > li a {
	color: #c3bbb9;
}

#root {
	min-height: 400px;
}

.inline-message {
	text-align: center;
	line-height: 1.5em;
	height: 1.5em;
}

.simple-form {
	font-size: 15pt;
}

.simple-form input[type="text"],
.simple-form input[type="number"],
.simple-form button {
	box-sizing: content-box;
	padding: 0.5em;
	display: block;
	width: 50%;
	margin: 40px auto;
	font-size: 15pt;
}

.toast{
	background: darkolivegreen;
	color: white;
	position: fixed;
	padding: 20px;
	width: 55%;
}

.role{
	width: 200px;
	height: 284px;
	background-repeat: none;
	background-size: 100%;
}

ul.role-list > li,
ul.role-selector > li{
	list-style: none;
	display: inline-block;
	margin: 5px;
}

ul.role-selector > li .role {
	opacity: 0.65;
}

ul.role-selector > li .name {
	opacity: 0.45;
}

ul.role-selector > li.selected .role {
	box-shadow: white 0 0 15px;
	opacity: 1;
}

ul.role-selector > li.selected .name {
	opacity: 1;
}

ul.role-list .role,
.role-selector .role{
    width: 80px;
    height: 80px;
    background-size: 95px;
	background-position: -9px -14px;
	border-radius: 40px;
}

ul.role-list .name,
.role-selector .name {
	display: block;
	text-align: center;
	margin-top: 5px;
}

.number-selector {
	display: flex;
}

.number-selector > .icon{
	width: 80px;
	margin: 5px;
}

.number-selector > .number-input {
	margin: auto 0 auto 23px;
}

.number-input > button.decrease,
.number-input > button.increase {
    display: inline-block;
    width: 2em;
    height: 2em;
    border: 0px solid;
    background: white;
    color: black;
    font-size: 15pt;
    border-radius: 1em;
}

.number-input > input {
	width: 4em;
    height: 2.5em;
    box-sizing: content-box;
    text-align: center;
    margin: 0 10px;
}

.number-input > .decrease::before {
	content: 'ー';
}

.number-input > .increase::before {
	content: '＋';
}

.box {
	margin: 0 10px;
}

.box h3 {
	text-align: center;
	margin: 20px 0 8px 0;
}

.button-area {
	text-align: center;
	margin: 20px 15px 5px 15px;
}

.button-area button {
	font-size: 15pt;
	padding: 0.5em 0.8em;
}

.role-area {
	text-align: center;
}

.role-area > .name {
	margin-bottom: 10px;
}

.role-area > .role {
	margin: auto;
}
