
.god-note {
	text-align: center;
}

ul.player-round {
	display: flex;
	position: fixed;
	top: 60px;
	width: 64px;
	justify-content: space-evenly;
	height: 80vh;
	-webkit-tap-highlight-color: transparent;

	&.left {
		left: 15px;
		flex-direction: column;

		> li {
			.number {
				left: 0;
			}

			ul.marker {
				right: -1.8em;
			}
		}
	}

	&.right {
		right: 15px;
		flex-direction: column-reverse;

		> li {
			.number {
				right: 0;
			}

			ul.marker {
				left: -1.8em;
			}
		}
	}

	> li {
		width: 64px;
		height: 64px;
		border-radius: 64px;
		display: inline-block;
		background: #fed84055;
		position: relative;
		margin: 10px 0;

		.number {
			width: 16px;
			height: 16px;
			font-size: 12px;
			position: absolute;
			top: 0;
			border: white 1px solid;
			border-radius: 8px;
			text-align: center;
			line-height: 16px;
			text-shadow: rgb(39, 32, 32) 0 0 3px;
			background: rgba(85, 34, 23, 0.3);
		}

		.icon.dead {
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
		}


		ul.marker {
			list-style: none;
			font-size: 9pt;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}
	}

	.role {
		width: 64px;
		height: 64px;
		background-size: 80px;
		background-position: -9px -9px;
		border-radius: 32px;
	}

	.button-area {
		position: absolute;
		top: 0;
		left: 8px;
		margin: 0;
		padding: 0;
		width: 48px;
		height: 64px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		button {
			font-size: 9pt;
			margin: 0;
			padding: 0.5em 0.6em;
			min-width: 2em;
		}
	}
}
