
ul.role-list,
.role-selector {
	.role {
		width: 64px;
		height: 64px;
		background-size: 80px;
		background-position: -9px -9px;
		border-radius: 32px;
	}

	.name {
		display: block;
		text-align: center;
		margin-top: 5px;

		html:lang(en) & {
			font-size: 9pt;
		}
	}
}

.role-selector {
	-webkit-tap-highlight-color: transparent;

	.role-button {
		.role {
			opacity: 0.65;;
		}

		.name {
			opacity: 0.45;
		}

		&:active {
			.role {
				transform-origin: center;
				transform: scale(0.96);
				opacity: 1;
			}

			.name {
				opacity: 1;
			}
		}

		&.selected {
			.role {
				box-shadow: #fed840 0 0 4px 2px;
				opacity: 1;
			}

			.name {
				opacity: 1;
			}
		}
	}
}

ul.role-list,
ul.role-selector {
	@media screen and (max-width: 780px) {
		display: grid;
		gap: 7px;
		grid-template-columns: repeat(8, minmax(0, 1fr));
	}

	@media screen and (max-width: 630px) {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}

	@media screen and (max-width: 470px) {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}

	@media screen and (max-width: 370px) {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	li {
		list-style: none;
		width: 64px;
		justify-self: center;
		vertical-align: top;

		@media screen and (min-width: 780px) {
			margin: 7px;
			display: inline-block;
		}
	}
}
