.lobby {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 64vh;

	.simple-form {
		font-size: 15pt;

		input[type="text"],
		input[type="number"],
		button {
			box-sizing: content-box;
			padding: 0 0.5em;
			height: 2.5em;
			display: block;
			width: 50%;
			margin: 30px auto;
			font-size: 15pt;
			text-align: center;
			border-radius: 4px;
			box-shadow:#160804 2px 2px 6px 0;

			&:lang(ja) {
				font-size: 12pt;
			}
		}
	}
}
