
ol.game-flow {
	margin: 0 120px;
	padding: 0;
	min-height: 65vh;
	text-align: center;
	list-style: none;
	-webkit-tap-highlight-color: transparent;

	> li {
		h4 {
			margin: 10px 0 5px 0;
		}
	}

	ol.action {
		list-style: none;
		padding: 0;
		-webkit-tap-highlight-color: transparent;

		> li {
			position: relative;
			height: 75px;
			padding-left: 48px;
			font-size: 10pt;

			&.current {
				.role {
					box-shadow: #fed840 0 0 4px 2px;
				}
			}

			h5 {
				position: absolute;
				width: 48px;
				top: 0;
				left: 0;
				margin: 0;
				font-size: 8pt;
			}

			.content {
				height: 64px;
				line-height: 64px;
			}
		}
	}

	ol.history {
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 9pt;
	}

	.dying-message {
		font-size: 10pt;
		margin: 0.5em 0;
	}

	.role {
		width: 48px;
		height: 48px;
		background-size: 65px;
		background-position: -9px -9px;
		border-radius: 24px;
	}

	button {
		font-size: 12pt;
		padding: 0.5em 0.7em;
		font-weight: normal;
	}

	.button-area {
		margin: 5px 15px 20px 15px;

		button {
			margin: 7px 0;
		}
	}
}

