body {
	background: #26221d url(../style/bg.jpg) no-repeat;
	background-size: cover;
	color: white;
	margin: 0 auto;
	padding: 0;
	user-select: none;
}

#root {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
}

body,
button,
input {
	font-size: 12pt;
	font-family: Arial, 'Microsoft YaHei', Helvetica, sans-serif;
}

a {
	color: white;
	text-decoration: none;
}

button,
a.button {
	display: inline-block;
	box-sizing: border-box;
	background: #e3ad58;
	color: #130502;
	font-weight: bold;
	border-radius: 4px;
	box-shadow:#160804 2px 2px 6px 0;
	border: none;
}

button,
a.button,
[role="button"] {
	cursor: pointer;
}

input {
	&[type="text"],
	&[type="number"] {
		border: none;
		border-radius: 4px;
		-moz-appearance: textfield;
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

ul {
	margin: 0;
	padding: 0;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
}

.inline-message {
	text-align: center;
	line-height: 1.5em;
	height: 1.5em;
}

.box {
	margin: 10px;

	> h2 {
		font-size: 1.2em;
		text-align: center;
		margin: 20px 0 12px 0;
	}
}

.button-area {
	text-align: center;
	margin: 20px 15px 5px 15px;

	button,
	a.button {
		font-size: 15pt;
		padding: 0.5em 0.8em;
		min-width: 6em;
		margin: 5px 10px;

		html:lang(en) & {
			font-size: 12pt;
		}
	}

	input[type="number"] {
		text-align: center;
		line-height: 2em;
		border-radius: 6px;
		margin: 10px 0;
		display: block;
		margin: 10px auto;
	}
}
