

.number-selector {
	display: flex;

	> .icon{
		width: 64px;
		margin: 5px;
	}

	> .number-input {
		margin: auto 0 auto 23px;
	}
}

.number-input {
	> .decrease,
	> .increase {
		display: inline-block;
		width: 2em;
		height: 2em;
		line-height: 2.2em;
		text-align: center;
		border: none;
		padding: 0;
		background: white;
		color: black;
		font-size: 15pt;
		border-radius: 1em;
		cursor: pointer;
		font-family: 'Courier New', Courier, monospace;
	}

	> input {
		width: 4em;
		height: 2.5em;
		box-sizing: content-box;
		text-align: center;
		margin: 0 10px;
	}
}
